@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: darkslategrey;
}

.header {
  display: flex;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.footer {
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  position:absolute;
  bottom: 0;
  width: 100%;
}

ul {
  list-style-type: none;
}

.left-links, .right-links {
  display: flex;
  padding: 0 16px;
  gap: 0 8px;
}

.content {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 1rem;
  margin: auto;
}

.buttons, .input {
  align-self: center;
  padding: 0.5em;
}